@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

html, body {
    width: 100%;
    height: 100%;
}

.app-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    height: 100%;
    margin-left: 25%;
}

.row-item {
    width: 100%;
    height: 25%;
    flex: 0 0 calc(33.333% - 10px);
}

.game-menu {
    display: flex;
    width: 40%;
    height: 30%;
    margin-left: 30%;
}

.btn-menu {
    flex: 0 0 50%;
}

.btn-menu:hover,.btn:hover {
    background-color: grey;
}

.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.overlay.active {
    display: flex; /* Show when active class is added */
}

.modal-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.lobby-code {
    color: blue;
}

.join-code-input {
    text-align: center;
}

.error {
    color: red;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.loader-container {
    display: none;
}

.loader-container.active {
    display: inline;
}

.loader {
    margin: auto;
    --R: 30px;
    --g1: #514b82 96%, #0000;
    --g2: #eeeeee 96%, #0000;
    width: calc(2*var(--R));
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    -webkit-mask: linear-gradient(#000 0 0);
    animation: l30 2s infinite linear;
}
.loader::before,
.loader::after{
    content:"";
    grid-area: 1/1;
    width: 50%;
    background:
        radial-gradient(farthest-side,var(--g1)) calc(var(--R) + 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
        radial-gradient(farthest-side,var(--g1)) calc(var(--R) + 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
        radial-gradient(farthest-side,var(--g2)) calc(var(--R) + 0.5*var(--R)   - var(--R)) calc(var(--R) - 0.866*var(--R) - var(--R)),
        radial-gradient(farthest-side,var(--g1)) 0 calc(-1*var(--R)),
        radial-gradient(farthest-side,var(--g2)) calc(var(--R) - 0.5*var(--R)   - var(--R)) calc(var(--R) - 0.866*var(--R) - var(--R)),
        radial-gradient(farthest-side,var(--g1)) calc(var(--R) - 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
        radial-gradient(farthest-side,var(--g2)) calc(-1*var(--R))  0,
        radial-gradient(farthest-side,var(--g1)) calc(var(--R) - 0.866*var(--R) - var(--R)) calc(var(--R) + 0.5*var(--R)   - var(--R));
    background-size: calc(2*var(--R)) calc(2*var(--R));
    background-repeat :no-repeat;
}
.loader::after {
    transform: rotate(180deg);
    transform-origin: right;
}

@keyframes l30 {
    100% {transform: rotate(-1turn)}
}
